:root {
    --white: #FFF;
    --primary: #27a17c;
    --secondary: #27a17c;
    --gray: #3C3C3C;
}

body {
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #333;
    position: relative;
    background-color: rgb(245, 245, 245);
}
body::after{
    content: '';
    /* background-image: url(../images/bg.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
/* #root{
    overflow: auto;
    height: 100%;
} */
.custom-btn{
    border-radius: 8px;
    border: 1px solid;
    width: 80px;
    margin: 0px 12px 0px 0px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.5rem;
}
.primary-btn{
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    color: var(--primary);
}
.secondary-btn{
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    color: var(--secondary);
}
.wallet-btn{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, var(--secondary), var(--primary));
    border-radius: 100px;
    padding: 10px 24px;
    display: block;
    border:none;
}
.icon-btn{
    display: flex;
    align-items: center;
}
.icon-btn span{
margin-left: 0.5rem;
}
.custom-container{
    padding: 0 2.5rem;
}
.section{
    margin-top: 1rem;
}
.section-title{
    position: relative;
    font-weight: bold;
    font-size: 36px;
    color: var(--primary);
}
.box{
    padding: 24px 40px 20px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.normal-text{
    font-size: 18px;
    color: black;
}
.normal-text-sm{
    font-size: 14px;
    color: black;
}
.first-section-footer{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.first-section-footer .inner{
    display: flex;
    align-items: center;
}
.first-section-footer .inner:not(:first-child){
    margin-left: 2rem;
}
.first-section-footer .inner img{
    width: 16px;
    height: 16px;
    margin-right: 0.6rem;
}
.icon-list-main{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.15);

}
.icon-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.icon-list li{
    margin-left: 1rem;
    position: relative;
}
.icon-list li img{
    width: 26px !important;
    height: 26px !important;
    cursor: pointer;

}
.icon-list li:hover > .inner-text{
    display: block;
}
.icon-list li .inner-text{
    display: none;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -110%);
    word-break: normal;
    background: var(--primary);
    border: 1px solid var(--primary);
    color: white;
    border-radius: 24px;
    padding: 4px 12px;
    white-space: nowrap;
}
.second-tr{
    display: flex;
    align-items: center;
}
.inner-div{
    display: none;
}
.custom-table .tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.custom-table .thead .tr{
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin-bottom: 1rem;
}
.custom-table .tbody .tr{
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 1rem 0;
}
.custom-table .tr .td,.custom-table .tr .th{
    width: 90px;
    text-align: left;
}
.custom-table .tr .large-td{
    width: 360px !important;
    /* text-align: center !important; */

}
.custom-table .thead .tr .th{
    color: var(--secondary);
    padding-bottom: 1rem !important;
    border: none;
    text-align: left;
}

.search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 0px 12px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--gray);
}
.search-box input{
    border: none;
    background-color: transparent;
    width: 80%;
}
.search-box input:focus{
    border: none;
    outline: none;
    color: black;
}
.stream-div{
    display: flex;
}
.stream-div .second{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(207, 207, 207);
    min-width: 260px;
    /* border-radius: 8px; */
    height: 100px;
    padding: 1rem;
}
.flex-text-icon{
    color: black;
    display: flex;

}
.flex-text-icon img{
    width: 22px;
    height: 22px;
    margin-right: 0.5rem;
}

.td-icon-flex{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.td-icon-flex:hover > .inner-text-ab{
    display: block;
}
.td-icon-flex .inner-text-ab{
    display: none;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -100%);
    word-break: normal;
    background: var(--primary);
    border: 1px solid var(--primary);
    color: var(--white);
    border-radius: 24px;
    padding: 14px 22px;
    white-space: nowrap;
    z-index: 10;
    width: 300px;
    z-index: 9999;
}
.td-icon-flex .inner-text-ab div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem 0;
}
.td-icon-flex .inner-text-ab div span:not(:first-child){
    text-align: center;
}
.td-icon-flex .inner-text-ab div span{
    width: 50%;
    text-align: left;
}
.pointer{
    cursor: pointer;
}
.modal-content{
    background: rgb(255, 255, 255);
    border-radius: 16px;
    padding: 1rem 1.5rem;
}
.modal-title{
    color: var(--primary) !important;
}
.input-box{
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.secondary-input-box{
    border: 1px solid var(--secondary);
}
.primary-input-box{
    border: 1px solid var(--primary);
}
.input-box .custom-input{
    border: none;
    color: rgb(36, 53, 89);
    font-size: 22px;

}
.input-box .custom-input:focus{
    border: none;
    outline: none;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.text-puple{
    color: var(--primary);
}
.normal{
    font-size: 14px;
}
.max-btn{
    height: 24px;
    line-height: 24px;
    border-radius: 100px;
    color: rgb(255, 255, 255);
    padding: 0px 12px;
    border: none;
}
.secondary-input-box .max-btn{
    background: var(--secondary);
}
.primary-input-box .max-btn{
    background: var(--primary);
}
.text-primary{
    color: var(--primary) !important;
}
.text-secondary{
    color: var(--secondary) !important;
}
.margin-left{
    margin-left: 0.5rem;
}
.gray-btn{
    background-color: rgb(153, 153, 153) !important;
    color: rgb(193, 193, 193) !important;
    border-radius: 8px;
    font-size: 16px;
    height: 58px;
}
.modal-header{
    border: none !important;
}
.hVZIWt {
    display: flex;
    justify-content: center !important;
    align-items: center;
    text-align: center;
    width: 100%;
}
.ibZYis {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    background: var(--primary);
    color: rgb(255, 255, 255);
}
.ddKdWp {
    width: 30px;
    height: 1px;
    background: rgb(238, 238, 238);
}
.jbhunA {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    background: rgb(238, 238, 238);
    color: rgb(189, 189, 189);
}
