.custom-header{
    width: 100%;
    height: 70px;
    color: #fff;
    background-color: rgba(0,0,0,.0976);
    padding: 0 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Futura-Medium;
}
.logo-section .logo{
    width: 160px;
    /* height: 70px; */
}
.flex-btn-group{
    display: flex;
    align-items: center;
}
.wallet-btn{
    line-height: 40px;
    height: 40px;
    background: #27a17c;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 16px;
    color: #fff;
    border: none;
}
.guide-btn{
    line-height: 40px;
    background: #27a17c;
    border-radius: 20px;
    border: none;
    padding: 0 15px;

    margin-left: 20px;
    color: var(--white);
    display: flex;
    align-items: center;
}
.guide-btn img{
    margin-right: 0.5rem;
}
