.footer{
    padding-top: 5rem;
    background-color: #172026 !important;
    color: var(--white);
    margin-top: 5rem;
}
.footer h3{
    font-size: 22px;
}
.footer-link{
    padding: 0;
    list-style: none;
    margin-top: 1rem;
}
.footer-link li{
    padding: 0.4rem 0;
}
.footer-link li a{
    text-decoration: none;
    color: var(--white);
    opacity: 0.7;
    font-size: 15px;
}
.footer-link li a:hover{
    opacity: 1;
}
.footer .social-link{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.footer .social-link li a{
    padding: 0.5rem 0.8rem;
    display: block;
    font-weight: 400;
    background: #172026 !important;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    font-size: 1rem;
}
.footer .social-link .li a i{
    line-height: 2;
}
.footer-bottom{
    display: flex;
    align-items: center;
    margin-top: 4rem;
    padding-bottom: 1.5rem;
}
.footer-bottom .anchor{
    text-decoration: none;
    color: var(--white);
    opacity: 0.7;
}
.footer-bottom .anchor:hover{
    opacity: 1;
}
.footer-bottom p{
    margin-bottom: 0;
    margin-left: 3rem;
    opacity: 0.7;
    font-size: 13px;
}
.footer-bottom img{
    width: 180px;
}